.characterList{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: black;
   min-height: 61vh;
   justify-content: center;
   padding: 0;
   &.sunshine{
      background-color: yellow;
      color: black;
   }
   .characterItem{
      padding: 20px;
   }
}