.characterItem{
   padding: 20px;
   .cardContainer{
      background-color: $cardColor;
   }
}
.photo{
   width: 250px;
}
.textContainer{
   display: flex;
   flex-direction: column;
}
.name{
   padding: 10px 0 5px 10px;
}
.species{
   padding: 5px 0 10px 10px;
}

