.detailWrapper {
  min-height: 70vh;
  @include flexboxColumn;
  &.sunshine {
    background-color: $sunshine;
    color: $dark;
  }
  .return {
    margin-top: 10px;
    margin-bottom: 10px;

    &:hover {
      color: rgb(0, 170, 228);
    }
  }
  .detailCard {
    background-color: $cardColor;
    height: 450px;
    width: 330px;
    display: flex;
    flex-direction: column;
  }
  .photoContainer {
    @include flexboxColumn;
  }
  .photoDetail {
    padding-top: 40px;
    width: 180px;
  }
  .textDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 70px;
  }
  .nameDetail {
    font-weight: bold;
    font-size: $bigFont;
    margin-bottom: 5px;
  }
  span {
    padding: 3px;
  }
  .hidden {
    display: none;
  }
  .active {
    display: block;
  }
  .iconContainer {
    @include flexboxRow;
    width: 30px;
    background-color: $dark;
    border-radius: 50%;
    align-items: center;
    margin: 20px 3px 10px 3px;
    padding: 5px 0 5px 0;
    &.sunshine {
      background-color: $sunshine;
    }
  }

}
@include forTablet {
  .detailWrapper {
    .return {
      font-size: $bigFont;
    }
    .nameDetail {
      font-size: $extraBigFont;
    }
    span {
      font-size: $bigFont;
    }  
  }
}

@include forPc {
  .detailWrapper {
    .return {
      margin-left: 550px;
    }
    .detailCard {
      height: 350px;
      width: 600px;
      display: flex;
      flex-direction: row;
    }
    .photoContainer {
      margin-left: 50px;
      width: 50%;
    }
    .photoDetail {
      width: 250px;
    }
    .textDetail {
      width: 50%;
      margin-left: 30px;
    }
    .nameDetail {
      font-weight: bold;
      font-size: $bigFont;
      margin-bottom: 5px;
    }
    span {
      padding: 3px;
    }

    .iconContainer {
      width: 40px;
      margin: 0 3px 10px 3px;
      #icon {
        margin: 2px;
      }
    }
  }
}
