.headerContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 30vh;
  width: 100vw;
  &.sunshine {
    background-color: $sunshine;
  }
  .logoContainer {
    grid-column: 1/1;
    grid-row: 2/4;
    margin: auto;
  }
  .logo {
    padding-top: 30px;
    width: 250px;
  }
  .dayMode {
    grid-column: 1/1;
    grid-row: 5/7;
    align-self: center;
    border: solid 1px $light;
    border-radius: 15px;
    font-size: 12px;
    background-color: $light;
    opacity: 0.8;
    color: grey;
    text-transform: uppercase;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    &:hover {
      border: 2px solid $cardColor;
    }
  }
}
@include forTablet {
  .headerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    .logoContainer {
      grid-column: 1/1;
      grid-row: 2/4;
      .logo {
        width: 350px;
      }
    }
    .dayMode {
      grid-column: 1/1;
      grid-row: 6/7;
      width: 100px;
      height: 30px;
      line-height: 1.67;
      margin-top: 0;
    }
  }
}

@include forPc {
  .headerContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 30vh;
    .logoContainer {
      grid-column: 2/3;
      grid-row: 1/1;
      .logo {
        width: 400px;
      }
    }
    .dayMode {
      grid-column: 3/4;
      grid-row: 1/1;
      margin: auto;
    }
  }
}
