*{
   list-style: none;
   text-decoration: none;
   margin: 0;
}
a{
   color: inherit;
}
.App{
   background-color: black;
   color: white;
}
.headerContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   height: 30vh;
   .logo{
      padding-top: 30px;
      padding-bottom: 30px;
      width: 400px;
   }
}
.filters{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   .genderContainer{
      margin-right: 80px;
      input{
         margin: 10px;
      }
   }
   .search{
      width: 250px;
      margin-bottom: 20px;
      padding: 5px;
      background-color: black;
      color: white;
      font-size: 16px;
     
      &:focus{
         border: 2px solid rgb(0, 170, 228);
      }
   }
   .speciesContainer{
      margin-left: 80px;
      input{
         margin: 10px;
      }
   }
   
}

.detailWrapper{
   height: 70vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   .return{
      margin-bottom: 10px;
      margin-left: 550px;
      &:hover{
         color: rgb(0, 170, 228);
      }
   }
   .detailCard{
      background-color: rgb(0, 170, 228);
      height: 350px;
      width: 600px;
      display: flex;
      flex-direction: row;
   }
   .photoContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 50px;
      width: 50%;
   }
   .photoDetail{
      width: 250px;
   }
   .textDetail{
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      margin-left: 30px;
   }
   .nameDetail{
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5px;
   }
   span{
      padding: 3px;
   }
   .hidden{
      display: none;
   }
   .active{
      display: block;
   }
   .iconContainer{
      display: flex;
      flex-direction: row;
      width: 40px;
      background-color: black;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin: 0 3px 10px 3px;
      padding: 5px 0 5px 0;
   }
   #icon{
      margin: 3px;
   }
}

.characterList{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   background-color: black;
   min-height: 61vh;
   .characterItem{
      padding: 20px;
      .hidden{
         display: none;
      }
      .active{
         display: block;
      }
      .cardContainer{
         background-color: rgb(0, 170, 228);
      }
   }
   .photo{
      width: 250px;
   }
   .textContainer{
      display: flex;
      flex-direction: column;
   }
   .name{
      padding: 10px 0 5px 10px;
   }
   .species{
      padding: 5px 0 10px 10px;
   }
   
}